##**클래스와 객체**

#####class 구현하기 in Python

In [7]:
class SoccerPlayer(object):
    def __init__(self, name, position, back_number):
        self.name = name
        self.position = position
        self.back_number = back_number

    def change_back_number(self, new_number):
        print("선수의 등번호를 변경합니다 : From %d to %d" % (self.back_number, new_number))
        self.back_number = new_number

In [8]:
jinhyun = SoccerPlayer("Jinhyun", "MF", 10)
print(jinhyun)

<__main__.SoccerPlayer object at 0x7fc11c81b6d0>

In [9]:
print(jinhyun.name)
print(jinhyun.position)
print(jinhyun.back_number)

Jinhyun
MF
10

In [10]:
print("현재 선수의 등번호는 : ", jinhyun.back_number)
jinhyun.change_back_number(5)
print("현재 선수의 등번호는 : ", jinhyun.back_number)

현재 선수의 등번호는 :  10
선수의 등번호를 변경합니다 : From 10 to 5
현재 선수의 등번호는 :  5

#####OOP Implementaion Example

Note Class

In [13]:
class Note(object):
    def __init__(self, content = None):
        self.content = content

    def write_content(self, content):
        self.content = content
    
    def remove_all(self):
        self.content = ""
    
    def __add__(self, other):
        return self.content + other.content
    
    def __str__(self):
        return self.content

Notebook Class

In [111]:
class NoteBook(object):
    def __init__(self, title):
        self.title = title
        self.page_number = 1
        self.notes = {}
    
    def add_note(self, note, page = 0):
        if self.page_number < 3:
            if page == 0:
                self.notes[self.page_number] = note
                self.page_number += 1
            else:
                self.notes = {page : note}
                self.page_number += 1
        else:
            print("Page가 모두 채워졌습니다.")
    
    def remove_note(self, page_number):
        if page_number in self.notes.keys():
            return self.notes.pop(page_number)
        else:
            print("해당 페이지는 존재하지 않습니다")
    
    def get_number_of_pages(self):
        return len(self.notes.keys())

In [113]:
a = Note("hello")
b = Note("my name is")
c = Note("jeongwook")
print(a.content)

my_notebook = NoteBook("mymy")
my_notebook.add_note(a)
my_notebook.add_note(b)
my_notebook.add_note(c)
print(my_notebook.get_number_of_pages())

hello
Page가 모두 채워졌습니다.
2

##**OOP characteristics**

#####**Inheritance : 상속**

In [115]:
class Person(object):
    def __init__(self, name, age):
        self.name = name
        self.age = age

class Korean(Person):
    pass

first_korean = Korean("Jeongwook", 29)
print(first_korean.name)

Jeongwook

#####Inheritance example

In [116]:
class Person(object):       # 부모 클래스 Person 선언
    def __init__(self, name, age, gender):
        self.name = name
        self.age = age
        self.gender = gender
    
    def about_me(self):     # Method 선언
        print("저의 이름은 ", self.name, "이구요, 제 나이는 ", str(self.age),"살 입니다.")

In [119]:
first_Person = Person("이정욱", 29, "남자")
first_Person.about_me()

저의 이름은  이정욱 이구요, 제 나이는  29 살 입니다.

In [125]:
class Employee(Person):     # 부모 클래스 Person으로 부터 상속
    def __init__(self, name, age, gender, salary, hire_date):
        super().__init__(name, age, gender)     # 부모 객체 사용
        self.salary = salary
        self.hire_date = hire_date      # 속성값 추가
        
    def do_work(self):      # 새로운 메서드 추가
        print("열심히 일을 합니다.")
    
    def about_me(self):     # 부모 클래스 함수 재정의
        super().about_me()  # 부모 클래스 함수 사용
        print("제급여는", self.salary, "원이구요, 제입사일은", self.hire_date, " 입니다.")

In [127]:
jeongwook = Employee("이정욱","29","남성","1000", "19년 3월 11일")

jeongwook.about_me()

저의 이름은  이정욱 이구요, 제 나이는  29 살 입니다.
제급여는 1000 원이구요, 제입사일은 19년 3월 11일  입니다.

#####**Polymorphism : 다형성**

Polymorphism code

In [137]:
class Animal:
    def __init__(self, name):     # Constructor of the class
        self.name = name

    def talk(self):     # Abstract method, defined by convection only
        raise NotImplementedError("Subclass must implement abstract method")
    
class Cat(Animal):
    def talk(self):
        return 'Meow!'

class Dog(Animal):
    def talk(self):
        return 'Woof! Woof!'

animals = [Cat('Missy'), Cat('Mr, Mistoffelees'), Dog('Lassie')]

for animal in animals:
    print(animal.name + ': ' + animal.talk())

Missy: Meow!
Mr, Mistoffelees: Meow!
Lassie: Woof! Woof!

#####**Visibility : 가시성**

Visibility Example 1

In [147]:
class Product(object):
    pass

class Inventory(object):
    def __init__(self):
        self.__items = []       # Private 변수로 선언 타 객체가 접근 못함
    
    def add_new_item(self, product):
        if type(product) == Product:
            self.__items.append(product)
            print("new item added")
        else:
            raise ValueError("Invalid Item")
    
    def get_number_of_items(self):
        return len(self.__items)

In [148]:
my_inventory= Inventory()
my_inventory.add_new_item(Product())
my_inventory.add_new_item(Product())
print(my_inventory.get_number_of_items())

# print(my_inventory.__items)
# my_inventory.add_new_item(object)

new item added
new item added
2

Visibility Example 2

In [151]:
class Inventory(object):
    def __init__(self):
        self.__items = []
    
    @property       # property decorator 숨겨진 변수를 반환하게 해줌
    def items(self):
        return self.__items
        
    def add_new_item(self, product):
        if type(product) == Product:
            self.__items.append(product)
            print("new item added")
        else:
            raise ValueError("Invalid Item")
    
    def get_number_of_items(self):
        return len(self.__items)

In [152]:
    
my_inventory = Inventory()
my_inventory.add_new_item(Product())
my_inventory.add_new_item(Product())
print(my_inventory.get_number_of_items())

items = my_inventory.items
items.append(Product())
print(my_inventory.get_number_of_items())

new item added
new item added
2
3

#####Decorate

In [153]:
class Student:
    def __init__(self, name, marks):
        self.name = name
        self.marks = marks
        # self.gotmarks = self.name + 'obtained' + self.marks + ' marks'

    @property
    def gotmarks(self):
        return self.name + 'obtained' + self.marks + ' marks'

First-class object

In [155]:
def square(x):
    return x * x

f = square
f(5)

25

In [156]:
def square(x):
    return x * x

def cube(x):
    return x * x * x

def formula(method, argument_list):
    return [method(value) for value in argument_list]

In [164]:
print(square(10))
print(cube(10))
print(formula(cube, [1, 2, 3]))

100
1000
[1, 8, 27]

Inner function

In [165]:
def print_msg(msg):
    def printer():
        print(msg)
    printer()

print_msg("Hello, Python")

Hello, Python

In [168]:
def print_msg(msg):
    def printer():
        print(msg)
    return printer

another = print_msg("Hello, Python")
another()

Hello, Python

Closure example

In [180]:
def tag_func(tag, text):
    text = text
    tag = tag

    def inner_func():
        return '<{0}>{1}<{0}>'.format(tag. text)
    
    return inner_func

h1_func = tag_func('title', "This is Python Class")
p_func = tag_func('p', "Data Academy")

Decorator function

In [182]:
def star(func):
    def inner(*args, **kwargs):
        print("*" * 30)
        func(*args, **kwargs)
        print("*" * 30)
    return inner

@star
def printer(msg):
    print(msg)
    
printer("Hello")

******************************
Hello
******************************

In [185]:
def star(func):
    def inner(*args, **kwargs):
        print("*" * 30)
        func(*args, **kwargs)
        print("*" * 30)
    return inner

def percent(func):
    def inner(*args, **kwargs):
        print("%" * 30)
        func(*args, **kwargs)
        print("%" * 30)
    return inner

@star
@percent
def printer(msg):
    print(msg)

printer("Hello")

******************************
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
Hello
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
******************************

In [187]:
def generate_power(exponent):
    def wrapper(f):
        def inner(*args):
            result = f(*args)
            return exponent**result
        return inner
    return wrapper

@generate_power(2)
def raise_two(n):
    return n**2

print(raise_two(7))

562949953421312