##**Basic Operations**

#####자료형 사용 예시

In [5]:
a = 1 # Integer
b = 1 # Integer
print(a, b)

1 1

In [6]:
a = 1.5  # Float
b = 3.5  # Float
print(a, b)

1.5 3.5

In [7]:
a = "ABC"       # String
b = "101010"    # String
print(a, b)

ABC 101010

In [8]:
a = True    # Boolean 대소문자 구분
b = False   # Boolean 대소문자 구분
print(a, b)

True False

#####제곱승과 나머지 구하기

In [9]:
print(3 * 3 * 3 * 3 * 3)    # 3을 다섯 번 곱합
print(3 ** 5)               # 3의 5승

243
243

In [10]:
print(7 / 2)    # 7 나누기 2 (정수형 계산)
print(7 % 2)    # 7 나누기 2의 나머지

3.5
1

#####증가 또는 감소 연산

In [11]:
a = 1       # 변수 a에 1을 할당
a = a + 1   # a에 1을 더한 후 그 값을 a에 할당
print(a)    # a 출력

2

In [12]:
a += 1      # a 증가 연산
print(a)    # a 출력

3

In [13]:
a = a - 1   # a에 1을 뺀 후 그 값을 a에 할당
a -= 1      # a 감소 연산
print(a)    # a 출력

1

##**Dynamic Typing**

#####데이터 형 변환: 정수형 <-> 실수형

In [34]:
a = 10      # a 변수에 정수 데이터 10을 할당
print(a)    # a가 정수형으로 출력

10

In [16]:
a = float(10)   # a를 실수형으로 변환 / 정수형은 int()
print(a)        # a가 실수형으로 출력

10.0

In [17]:
b = 3           # b에 정수 데이터 3할당
print(a / b)    # 실수형으로 a/b를 출력

3.3333333333333335

In [20]:
a = 10.7
b = 10.3

a = int(a)  # a를 정수형으로 형변환후 a에 할당
b = int(b)  # b를 정수형으로 형변환후 b에 할당

print(a + b)    # 정수형 a와 b의 합을 출력
print(a)
print(b)

20
10
10

#####데이터 형 변환: 숫자 <-> 문자열

In [22]:
a = '76.3'      # a에 문자열 76.3을 할당, ''은 문자열을 의미
b = float(a)    # a를 실수형으로 형 변환 후 b에 할당

print(a)        # a값 출력

76.3

In [23]:
print(b)        # b값 출력

76.3

In [24]:
print(a + b)    # a와 b는 각 문자형, 실수형으로 자료형이 달라 연산이 불가능함

TypeError: ignored

In [25]:
a = float(a)    # a를 실수형으로 형 변환 후 a에 할당
b = a           # 실수형 a 값을 b에 할당
print(a + b)    # 두 실수를 더한 후 출력

152.6

In [26]:
a = str(a)      # 실수형 a값 문자열로 변환 후 a 할당
b = str(b)      # 실수형 b값을 문자열로 변환 후 b 할당
print(a + b)    # 두 값을 더한 후 출력

76.376.3

In [28]:
a = int(10.3)       # a는 정수형으로 10.3을 할당
b = float(10.3)     # b는 실수형으로 10.3을 할당
c = str(10.3)       # c는 문자열으로 10.3을 할당

print(type(a))     # a의 타입을 출력
print(type(b))    # b의 타입을 출력
print(type(c))   # c의 타입을 출력

<class 'int'>
<class 'float'>
<class 'str'>

#####컴퓨터의 반올림 오차

In [30]:
c = 38.8        # c 에 실수형 38.8 할당
print(c)        # c 출력시 38.79999999... (Python 2.7 Only) - 단순한 실수도 이진수로 변환하면 무한 소수가 되기 때문

38.8

In [33]:
print(c)

38.8

##**List**

#####인덱싱(Indexing)

In [35]:
colors = ['red', 'blue', 'green']
print(colors[0])    # red
print(colors[2])    # green
print(len(colors))  # 3 (list의 길이를 반환)

red
green
3

#####슬라이싱(Slicing)

In [41]:
cities =['서울','부산','인천','대구','대전','광주','울산','수원']
print(cities[0:6]," AND ",cities[-9:])  # 0부터5까지, -9부터끝까지
print(cities[:])                        # 처음부터 끝까지
print(cities[-50:50])                   # 범위를 넘어갈 경우 자동으로 최대범위를 지정
print(cities[::2]," AND ",cities[::-1]) # 2칸 단위로, 역으로 슬라이싱

['서울', '부산', '인천', '대구', '대전', '광주']  AND  ['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']
['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']
['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']
['서울', '인천', '대전', '울산']  AND  ['수원', '울산', '광주', '대전', '대구', '인천', '부산', '서울']

#####리스트의 연산

In [45]:
color = ['red', 'blue', 'green']
color2 = ['orange', 'black', 'white']

print(color + color2)       # 두 리스트 합치기

len(color)                  # 리스트 길이
color[0] = 'yellow'         # 0번째 리스트의 값을 변경

print(color * 2)            # color 리스트 2회 반복

print('blue' in color2)     # 문자열 'blue'가 color2 존재 여부 반환

total_color = color + color2

print(total_color)

['red', 'blue', 'green', 'orange', 'black', 'white']
['yellow', 'blue', 'green', 'yellow', 'blue', 'green']
False
['yellow', 'blue', 'green', 'orange', 'black', 'white']

In [46]:
color.append("white")               # 리스트에 "white"추가
color.extend(["black", "purple"])   # 리스트에 새로운 리스트 추가
color.insert(0, "orange")           # 0번째 주소에 "orange" 추가

print(color)

['orange', 'yellow', 'blue', 'green', 'white', 'black', 'purple']

In [47]:
color.remove("white")
del color[0]

print(color)

['yellow', 'blue', 'green', 'black', 'purple']

#####Python 리스트만의 특징

다양한 Data Type이 하나의 List에 들어감

In [48]:
a = ["color", 1, 0.2]
color = ['yellow', 'blue', 'green', 'black', 'purple']
a[0] = color    # 리스트 안에 리스트도 입력 가능

print(a)

[['yellow', 'blue', 'green', 'black', 'purple'], 1, 0.2]

#####리스트 메모리 저장 방식

In [53]:
a = [5, 4, 3, 2, 1]
b = [1, 2, 3, 4, 5]
b = a       # "="의 의미는 같다가 아닌 메모리 주소에 해당 값을 할당(연결)한다는 의미

print(b)

[5, 4, 3, 2, 1]

In [54]:
a.sort()

print(b)

[1, 2, 3, 4, 5]

In [55]:
b = [6, 7, 8, 9, 10]
print(a, b)

[1, 2, 3, 4, 5] [6, 7, 8, 9, 10]

#####패킹과 언패킹

In [56]:
t = [1, 2, 3]       # 1, 2, 3을 변수 t에 패킹
a, b, c = t         # t에 있는 값 1, 2, 3을 변수 a, b, c에 언패킹

print(t, a, b, c)   # [1, 2, 3] 1 2 3

[1, 2, 3] 1 2 3

#####이차원 리스트

In [57]:
kor_score = [49, 79, 20, 100, 80]
math_score = [43, 59, 85, 30, 90]
eng_score = [49, 79, 48, 60, 100]
midterm_score = [kor_score, math_score, eng_score]

print(midterm_score)

[[49, 79, 20, 100, 80], [43, 59, 85, 30, 90], [49, 79, 48, 60, 100]]