##**Function**

#####함수의 개요

In [2]:
# 사각형의 넓이를 구하는 함수
def calculate_rectangle_area(x, y):
    return x * y    # 사로, 세로를 곱해서 반환

In [4]:
rectangle_x = 10
rectangle_y = 20

print("사각형 x의 길이: ", rectangle_x)
print("사각형 y의 길이: ", rectangle_y)

# 넓이를 구하는 함수 호출
print("사각형의 넓이: ", calculate_rectangle_area(rectangle_x, rectangle_y))

사각형 x의 길이:  10
사각형 y의 길이:  20
사각형의 넓이:  200

In [5]:
def f(x):
    return 2 * x + 7

def g(x):
    return x ** 2

x = 2

print(f(x) + g(x) + f(g(x)) + g(f(x)))

151

##**Console in/out**

#####콘솔창 입출력

In [6]:
print("Enter your name: ")
sombody = input()

print("Hi", sombody, "How are you today?")

Enter your name:
Lee Jeong Wook
Hi Lee Jeong Wook How are you today?

In [7]:
print("Hello World!", "Hello Again!!!")     # , 사용

Hello World! Hello Again!!!

In [8]:
temperature = float(input("온도를 입력하세요: "))   # 입력 시 바로 형 변환 하기

print(temperature)

온도를 입력하세요: 103
103.0

##**Print Formatting**

In [12]:
print(1, 2, 3)
print("a" + " " + "b" + " " + "c")
print("%d %d %d" % (1,2,3))
print("{} {} {}".format("a", "b", "c"))
value = 3
print(f"value is {value}")

1 2 3
a b c
1 2 3
a b c
value is 3

In [16]:
print('%s %s' % ('one', 'two'))
print('{} {}'.format('one', 'two'))
print('%d %d' % (1, 2))
print('{} {}'.format(1, 2))

one two
one two
1 2
1 2

In [17]:
print("I eat %d apples." % 3)
print("I eat %s apples." % "five")

number = 3; day = "three"
print("I ate %d apples. I was sick for %s days." % (number, day))
print("Product: %s, Price per unit: %f." % ("Apple", 5.243))

I eat 3 apples.
I eat five apples.
I ate 3 apples. I was sick for three days.
Product: Apple, Price per unit: 5.243000.

#####str.format()함수

In [19]:
age = 29; name = "Lee Jeongwook"

print("I'm {0} years old.".format(age))
print("My name is {0} and {1} years old.".format(name, age))
print("Product: {0}, Price per unit: {1:.3f}.".format("Apple", 5.243))

I'm 29 years old.
My name is Lee Jeongwook and 29 years old.
Product: Apple, Price per unit: 5.243.

#####Padding

In [21]:
print("Product: %5s, Price per unit: %.5f." % ("Apple", 5.243))
print("Product: {0:5s}, Price per unit: {1:.5f}.".format("Apple", 5.243))
print("Product: %10s, Price per unit: %10.3f." % ("Apple", 5.243))
print("Product: {0:>10s}, Price per unit: {1:10.3f}".format("Apple", 5.243))

Product: Apple, Price per unit: 5.24300.
Product: Apple, Price per unit: 5.24300.
Product:      Apple, Price per unit:      5.243.
Product:      Apple, Price per unit:      5.243

#####Naming

In [22]:
print("Product: %(name)10s, Price per unit: %(price)10.5f." %{"name":"Apple", "price":5.243})
print("Product: {name:>10s}, Price per unit: {price:10.5f}.".format(name = "Apple", price = 5.243))

Product:      Apple, Price per unit:    5.24300.
Product:      Apple, Price per unit:    5.24300.

#####f-string

In [28]:
name = "Jeongwook"
age = 29

print(f"Hello, {name}. You are {age}.")
print(f'{name:20}')
print(f'{name:>20}')
print(f'{name:*<20}')
print(f'{name:->20}')
print(f'{name:*^20}')

number = 3.141592653589793
print(f'number:.2f')

Hello, Jeongwook. You are 29.
Jeongwook
           Jeongwook
Jeongwook***********
-----------Jeongwook
*****Jeongwook******
number:.2f

#####Lab: 화씨 변환기

In [33]:
def convert_fahrenheit(celsius):
    return ((9/5) * celsius) + 32

celsius = float(input("변환하고 싶은 섭씨 온도를 입력해 주세요: "))

print("섭씨온도 : %.1f" % celsius)
print("화씨온도 : %.2f" % convert_fahrenheit(celsius))

변환하고 싶은 섭씨 온도를 입력해 주세요: 32.2
섭씨온도 : 32.2
화씨온도 : 89.96