##**Condition**

#####if-else문

In [1]:
print("Tell me your age?")
myage = int(input())    # 나이를 입력 받아 myage 변수에 할당

if myage < 30:      # myage가 30 미만일 때
    print("Oh! No. You are not accepted")
else:               # myage가 30 이상일 때
    print("Welcome to the club")

Tell me your age?
30
Welcome to the club

#####삼항 연산자(Ternary operators)

In [2]:
value = 12
is_even = True if value % 2 == 0 else False
print(is_even)

True

#####[연습] 무슨 학교 다니세요?

In [5]:
birth_year = int(input("당신이 태어난 년도를 입력하세요"))
now_year = 2022
age = now_year - birth_year + 1
if 20 <= age <= 26:
    print("대학생")
elif 17 <= age < 20:
    print("고등학생")
elif 14 <= age < 17:
    print("중학생")
elif 8 <= age <14:
    print("초등학생")
else:
    print("학생이 아닙니다")

당신이 태어난 년도를 입력하세요1997
대학생

##**Loop**

In [6]:
for looper in [1, 2, 3, 4, 5]:
    print("hello")

hello
hello
hello
hello
hello

In [7]:
for looper in range(0,5):
    print("hello")

hello
hello
hello
hello
hello

In [8]:
for i in "abcdefg":
    print(i)

a
b
c
d
e
f
g

In [9]:
for i in ["americano", "latte", "frafuchino"]:
    print(i)

americano
latte
frafuchino

In [10]:
for i in range(1, 10, 2):
    # 1부터 10까지 2씩 증가시키면서 반복문 수행
    print(i)

1
3
5
7
9

In [11]:
for i in range(10, 1, -1):
    # 10부터 1까지 -1씩 감소시키면서 반복문 수행
    print(i)

10
9
8
7
6
5
4
3
2

In [13]:
i = 1
while i < 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9

In [14]:
for i in range(0,5):
    print(i)

0
1
2
3
4

In [15]:
i = 0
while i < 5:
    print(i)
    i = i + 1

0
1
2
3
4

In [16]:
for i in range(10):
    if i == 5: break    # i가 5가 되면 반복 종료
    print(i)
print("EOP")            # 반복 종료 후 "EOP" 출력

0
1
2
3
4
EOP

In [17]:
for i in range(10):
    if i == 5: continue # i가 5가 되면 i를 출력하지 않음
    print(i)
print("EOP")            # 반복 종료 후 "EOP" 출력

0
1
2
3
4
6
7
8
9
EOP

In [18]:
for i in range(10):
    print(i,)
else:
    print("EOP")

0
1
2
3
4
5
6
7
8
9
EOP

In [19]:
i = 0
while i < 10:
    print(i,)
    i += 1
else:
    print("EOP")

0
1
2
3
4
5
6
7
8
9
EOP

#####[연습] 구구단 계산기

In [20]:
num = int(input("구구단 몇단을 계산할까요?"))
print("구구단 {}단을 계산합니다.".format(num))

for i in range(1,10):
    print("{} X {} = {}".format(num, i, num * i))

구구단 몇단을 계산할까요?5
구구단 5단을 계산합니다.
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

#####Loop Review

In [21]:
sentence = "I love you"
reverse_sentence = ''

for char in sentence:
    reverse_sentence = char + reverse_sentence
print(reverse_sentence)

uoy evol I

#####Debugging Loop

In [ ]:
print("input decimal number: ",)
decimal = int(input())
result = ""
loop_counter = 0

while(decimal > 0):
    temp_decimal_input = decimal
    temp_result_input = result

    remainder = decimal % 2
    decimal = decimal // 2
    result = str(remainder) + result

    print("-----------",loop_counter,"loop value check --------")
    print("Initial decimal:", temp_decimal_input, ", Remainder:", remainder, ", Initial result", temp_result_input)
    print("Output decimal:", decimal)
    print("Output result:", result)
    print("------------------------------------------------------")

    loop_counter += 1

print("Binary number is", result)

input decimal number:
155
----------- 0 loop value check --------
Initial decimal: 155 , Remainder: 1 , Initial result
Output decimal: 77
Output result: 1
------------------------------------------------------
----------- 1 loop value check --------
Initial decimal: 77 , Remainder: 1 , Initial result 1
Output decimal: 38
Output result: 11
------------------------------------------------------
----------- 2 loop value check --------
Initial decimal: 38 , Remainder: 0 , Initial result 11
Output decimal: 19
Output result: 011
------------------------------------------------------
----------- 3 loop value check --------
Initial decimal: 19 , Remainder: 1 , Initial result 011
Output decimal: 9
Output result: 1011
------------------------------------------------------
----------- 4 loop value check --------
Initial decimal: 9 , Remainder: 1 , Initial result 1011
Output decimal: 4
Output result: 11011
------------------------------------------------------
----------- 5 loop value check --------
Initial decimal: 4 , Remainder: 0 , Initial result 11011
Output decimal: 2
Output result: 011011
------------------------------------------------------
----------- 6 loop value check --------
Initial decimal: 2 , Remainder: 0 , Initial result 011011
Output decimal: 1
Output result: 0011011
------------------------------------------------------
----------- 7 loop value check --------
Initial decimal: 1 , Remainder: 1 , Initial result 0011011
Output decimal: 0
Output result: 10011011
------------------------------------------------------
Binary number is 10011011

#####Loop & Control lab

#####[연습] 숫자 찾기 게임

In [ ]:
# -*- coding: utf-8 -*-
import random
guess_number = random.randint(1, 100)
users_input = int(input("숫자를 맞춰보세요 (1 ~ 100)"))
try_count = 1

while(users_input is not guess_number):
    try_count += 1
    if users_input > guess_number:
        print("숫자가 너무 큽니다")
    else:
        print("숫자가 너무 작습니다")
    users_input = int(input("{}번째 시도: ".format(try_count)))
else: print("정답입니다.", "입력한 숫자는 ", users_input, "입니다")

숫자를 맞춰보세요 (1 ~ 100)50
숫자가 너무 작습니다
2번째 시도: 75
숫자가 너무 작습니다
3번째 시도: 87
숫자가 너무 큽니다
4번째 시도: 83
숫자가 너무 큽니다
5번째 시도: 80
숫자가 너무 작습니다
6번째 시도: 82
숫자가 너무 큽니다
7번째 시도: 81
정답입니다. 입력한 숫자는  81 입니다

#####[연습] 이차원 리스트처리하기

In [22]:
while(1):
    num = int(input("구구단 계산기 (1 ~ 9)"))
    if num == 0: break

    if not(1 <= num <= 9):
        print("잘못 입력하셨습니다, 1부터 9사이 숫자를 입력해주세요")
        continue
    else:
        print("{}단을 계산합니다".format(num))

        for i in range(1,10):
            print("{} X {} = {}".format(num, i, num * i))

print("구구단 계산기를 종료합니다")

구구단 계산기 (1 ~ 9)1
1단을 계산합니다
1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
구구단 계산기 (1 ~ 9)2
2단을 계산합니다
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
구구단 계산기 (1 ~ 9)6
6단을 계산합니다
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
구구단 계산기 (1 ~ 9)0
구구단 계산기를 종료합니다

#####[연습] 이차원 리스트처리하기

In [23]:
kor_score=[49,79,20,100,80]
math_score=[43,59,85,30,90]
eng_score=[49,79,48,60,100]
midterm_score=[kor_score,math_score,eng_score]

print(midterm_score)

[[49, 79, 20, 100, 80], [43, 59, 85, 30, 90], [49, 79, 48, 60, 100]]

In [61]:
student_score = [0 for i in range(5)]

for subject in midterm_score:
    idx = 0
    for score in subject:
        student_score[idx] += score
        idx += 1

for i in range(5):
    print("{:.1f}".format(student_score[i] / len(midterm_score)), end=', ')

# print([student_score[i] / len(midterm_score) for i in range(5)])

47.0, 72.3, 51.0, 63.3, 90.0,

#####Debugging

In [62]:
def addition(x, y):
    return x + y

def multiplication(x, y):
    return x * y

def divided_by_2(x):
    return x / 2

In [64]:
print(addition(10, 5))
print(multiplication(10, 5))
print(divided_by_2(50))

15
50
25.0