##**String**

#####문자열

In [2]:
import sys      # sys 모듈을 호출

print(sys.getsizeof("a"), sys.getsizeof("ab"), sys.getsizeof("abc"))

50 51 52

#####문자열 특징 - 인덱싱(Indexing)

In [3]:
a = "abcde"

print(a[0], a[4])       # a 변수의 0번째, 4번째 주소에 있는 값
print(a[-1], a[-5])     # a 변수의 오른쪽에서 0번째, 4번째 주소에 있는 값

a e
e a

#####문자열 특징 - 슬라이싱(Slicing)

In [5]:
a = "Artificial Intelligence and Machine Learning"

print(a[0:6], " AND ", a[-9:])      # a 변수의 0부터 5까지, -9부터 끝까지
print(a[:])                         # a 변수의 처음부터 끝까지
print(a[-50:50])                    # 범위를 넘어갈 경우 자동으로 최대 범위를 지정
print(a[::2], " AND ", a[::-1])     # 2칸 단위로, 역으로 슬라이싱

Artifi  AND   Learning
Artificial Intelligence and Machine Learning
Artificial Intelligence and Machine Learning
Atfca nelgneadMcieLann  AND  gninraeL enihcaM dna ecnegilletnI laicifitrA

#####문자열 연산 및 포함여부 검사

In [7]:
a = "TEAM"
b = "LAB"
print(a + " " + b)      # + 연산으로 a와 b 연결하기
print(a * 2 + " " + b * 2)

if 'A' in a:    # 'U'가 a에 포함되었는지 확인
    print(a)
else:
    print(b)

TEAM LAB
TEAMTEAM LABLAB
TEAM

#####문자열 함수 예시

In [9]:
title = "TEAMLAB X Upstage"
print(title.upper())
print(title.lower())
print(title.split(" "))
print(title.isdigit())
print(title.title())
print(title.startswith("a"))
print(title.count("a"))
print(title.upper().count("a"))

print("12345".isdigit())
print(title.find(" Naver"))
print("     Hello    ".strip())
print("A-B-C-D-E-F".split("-"))

TEAMLAB X UPSTAGE
teamlab x upstage
['TEAMLAB', 'X', 'Upstage']
False
Teamlab X Upstage
False
1
0
True
-1
Hello
['A', 'B', 'C', 'D', 'E', 'F']

#####Raw string

In [10]:
raw_string = "동해물과 백두산이 \n 마르고 닳도록"
print(raw_string)

동해물과 백두산이
 마르고 닳도록

In [11]:
raw_string = r"동해물과 백두산이 \n 마르고 닳도록"
print(raw_string)

동해물과 백두산이 \n 마르고 닳도록

#####str lab - yesterday

Yesterday, all my troubles seemed so far away
Now it looks as though they're here to stay
oh, I believe in yesterday

Suddenly, I'm not half the man I used to be
There's a shadow hanging over me
Oh, yesterday came suddenly.

Why she had to go?
I don't know, she wouldn't say
I said something wrong
Now I long for yesterday.

Yesterday love was such an easy game to play
Now I need a place to hide away
Oh, I believe in yesterday.

Why she had to go?
I don't know, she wouldn't say
I said something wrong
Now I long for yesterday.

Yesterday love was such an easy game to play
Now I need a place to hide away
Oh, I believe in yesterday...

In [12]:
f = open("yesterday.txt", 'r')

yesterday_lyric = ""

while True:
    line = f.readline()
    if not line:
        break
    yesterday_lyric = yesterday_lyric + line.strip() + "\n"
f.close()
n_of_yesterday = yesterday_lyric.upper().count("YESTERDAY")     # 대소문자 구분 제거
print("Number of a Word 'Yesterday'", n_of_yesterday)

FileNotFoundError: ignored

#####Call by object reference

#####파이썬 함수 호출 방식 - Call by object Reference

In [13]:
def spam(eggs):
    eggs.append(1)      # 기존 객체의 주소값에 [1]추가
    eggs = [2, 3]       # 새로운 객체 생성

ham = [0]
spam(ham)
print(ham)

[0, 1]

#####swap

In [22]:
a = [1, 2, 3, 4, 5]
b = [1, 2, 3, 4, 5]
c = [1, 2, 3, 4, 5]

def swap_value(x, y):
    temp = x
    x = y
    y = temp

def swap_offset(offset_x, offset_y):
    temp = b[offset_x]
    b[offset_x] = b[offset_y]
    b[offset_y] = temp

def swap_reference(list, offset_x, offset_y):
    temp = list[offset_x]
    list[offset_x] = list[offset_y]
    list[offset_y] = temp

In [23]:
swap_value(a[0], a[1])
print(a)
swap_offset(b[0], b[1])
print(b)
swap_reference(c, 0, 1)
print(c)

[1, 2, 3, 4, 5]
[1, 3, 2, 4, 5]
[2, 1, 3, 4, 5]

#####function - scoping rule

In [24]:
def test(t):
    print(x)
    t = 20
    print("In Function :", t)

x = 10
test(x)
print(t)

10
In Function : 20

NameError: ignored

#####Function Call Test

In [25]:
def test(t):
    t = 20
    print("In Function :", t)

x = 10
print("Before :", x)    # 10
test(x)                 # 함수 호출
print("After :", x)     # 10 - 함수 내부의 t는 새로운 주소값을 가짐

Before : 10
In Function : 20
After : 10

#####변수의 범위(Scoping Rule)

In [26]:
def f():
    s = "I love London!"
    print(s)

s = "I love Paris!"
f()
print(s)

I love London!
I love Paris!

#####변수의 범위(Scoping Rule) - global

In [27]:
def f():
    global s
    s = "I love London!"
    print(s)

s = "I love Paris"
f()
print(s)

I love London!
I love London!

#####변수의 범위(Scoping Rule) - test

In [32]:
def calculate(x, y):
    total = x + y
    print("In Function")
    print("a:", str(a), " b:", str(b), " a+b:", str(a+b), " total:", str(total))
    return total

a = 5
b = 7
total = 0
print("In Program - 1")
print("a:", str(a), " b:", str(b), " a+b", str(a+b))

sum = calculate(a, b)
print("After Calculation")
print("Total:", str(total), " Sum:", str(sum))

In Program - 1
a: 5  b: 7  a+b 12
In Function
a: 5  b: 7  a+b: 12  total: 12
After Calculation
Total: 0  Sum: 12

##**Recursive Function**

#####재귀함수 (recursive function)

In [36]:
def factorial(n):
    if n == 1:
        return 1
    else:
        return n * factorial(n-1)

print(factorial(int(input("Input Number for Factorial Calculation: "))))

Input Number for Factorial Calculation: 5
120

In [37]:
def loop_factorial(n):
    result = 1
    for i in range(n,1,-1):
        result *= i
    return result

print(factorial(int(input("Input Number for Factorial Calculation: "))))

Input Number for Factorial Calculation: 5
120

#####Function type Hints

In [ ]:
def do_function(var_name: var_type) -> return_type:
    pass

def type_hint_example(name: str) -> str:
    return f"Hello, {name}"