##**Stack**

In [ ]:
a = [1, 2, 3, 4, 5]
a.append(10)
a.append(20)

print(a.pop())
print(a.pop())

20
10

#####Stack Example

In [ ]:
word = input("Input a word : ")     # Input Word
word_list = list(word)              # String to List

for i in range(len(word_list)):
    print(word_list.pop())          # 하나씩 빼면서 출력

Input a word : abcdefg
g
f
e
d
c
b
a

##**Queue**

In [ ]:
a = [1, 2, 3, 4, 5]
a.append(10)
a.append(20)

print(a.pop(0))
print(a.pop(0))

1
2

##**Tuple**

In [ ]:
t = (1, 2, 3)
print(t + t, t * 2)         # (1, 2, 3, 1, 2, 3) (1, 2, 3, 1, 2, 3)

len(t)
t[1] = 5        # Error 발생

(1, 2, 3, 1, 2, 3) (1, 2, 3, 1, 2, 3)

TypeError: ignored

##**Set**

In [ ]:
s = set([1, 2, 3, 1, 2, 3])     # set 함수를 사용 1, 2, 3의 집합 객체 생성, a = {1, 2, 3, 4, 5} 도 가능
print(s)

s.add(1)                        # 한 원소 1만 추가, 추가, 중복불허로 추가 되지 않음
print(s)

s.remove(1)
print(s)

s.update([1, 4, 5, 6, 7])
print(s)

s.discard(3)
print(s)

s.clear()
print(s)

{1, 2, 3}
{1, 2, 3}
{2, 3}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 4, 5, 6, 7}
set()

#####집합의 연산

In [3]:
s1 = set([1, 2, 3, 4, 5])
s2 = set([3, 4, 5, 6, 7])

print(s1. union(s2))    # s1과 s2의 합집합

print(s1 | s2)      # set([1, 2, 3, 4, 5, 6, 7])

print(s1.intersection(s2))      # s1과 s2의 교집합

print(s1 & s2)      # set([3, 4, 5])

print(s1.difference(s2))    # s1과 s2의 차집합

print(s1 - s2)          # set([1, 2])

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}
{3, 4, 5}
{1, 2}
{1, 2}

##**Dict**

#####사전(dictionary) 다루기

In [8]:
country_code = {}
country_code = {"America" : 1, "Korea" : 82, "china" : 86, "Japan" : 81}
print(country_code)

print(country_code.items())

print(country_code.keys())

print(country_code.values())

country_code["German"] = 49

print(country_code)

country_code.values()

{'America': 1, 'Korea': 82, 'china': 86, 'Japan': 81}
dict_items([('America', 1), ('Korea', 82), ('china', 86), ('Japan', 81)])
dict_keys(['America', 'Korea', 'china', 'Japan'])
dict_values([1, 82, 86, 81])
{'America': 1, 'Korea': 82, 'china': 86, 'Japan': 81, 'German': 49}

dict_values([1, 82, 86, 81, 49])

In [10]:
for k, v in country_code.items():
    print("Key: ", k)
    print("Value: ", v)

print("Korea" in country_code.keys())
print(82 in country_code.values())

Key:  America
Value:  1
Key:  Korea
Value:  82
Key:  china
Value:  86
Key:  Japan
Value:  81
Key:  German
Value:  49
True
True

#####Command Analyzer

In [11]:
import csv

def getKey(item):           # 정렬을 위한 함수
    return item[1]          # 신경 쓸 필요 없음

command_data = []
with open("command_data.csv", "r") as csvfile:
    spamreader = csv.reader(csvfile, delimiter = ',', quotechar='"')
    for row in spamreader:
        command_data.append(row)

command_counter = {}                        # dict 생성, 아이디를 key값, 입력줄수를 value값

for data in command_data:                   # list 데이터를 dict으로 변경
    if data[1] in command_counter.keys():   # 아이디가 이미 Key값으로 변경되어씅ㄹ 때
        command_counter[data[1]] += 1       # 기존 출현한 아이디
    else:
        command_counter[data[1]] = 1        # 처음 나온 아이디

dictlist = []                               # dict를 list로 변경
for key, value in command_counter.items():
    temp = [key, value]
    dictlist.append(temp)

sorted_dict = sorted(dictlist, key = getKey, reverse = True)    # list를 입력 줄 수로 정렬
print(sorted_dict[:100])                                        # List의 상위 100개 값만 출력

FileNotFoundError: ignored

#####Collections

In [12]:
from collections import deque
from collections import Counter
from collections import OrderedDict
from collections import defaultdict
from collections import namedtuple

#####Deque

In [14]:
from collections import deque

deque_list = deque()

for i in range(5):
    deque_list.append(i)

print(deque_list)

deque_list.appendleft(10)
print(deque_list)

deque([0, 1, 2, 3, 4])
deque([10, 0, 1, 2, 3, 4])

In [15]:
deque_list.rotate(2)
print(deque_list)

deque_list.rotate(2)
print(deque_list)
print(deque(reversed(deque_list)))

deque_list.extend([5, 6, 7])
print(deque_list)

deque_list.extendleft([5, 6, 7])
print(deque_list)

deque([3, 4, 10, 0, 1, 2])
deque([1, 2, 3, 4, 10, 0])
deque([0, 10, 4, 3, 2, 1])
deque([1, 2, 3, 4, 10, 0, 5, 6, 7])
deque([7, 6, 5, 1, 2, 3, 4, 10, 0, 5, 6, 7])

In [18]:
# deque는 기존 list보다 효율적인 자료구조를 제공하여 처리 속도가 향상된다

from collections import deque
import time

start_time = time.clock()
deque_list = deque()
just_list = []
# Stack
for i in range(10000):
    for i in range(10000):
        deque_list.append(i)
        deque_list.pop()
print("deque: ", time.clock() - start_time, "seconds")

start_time = time.clock()

for i in range(10000):
    for i in range(10000):
        just_list.append(i)
        just_list.pop()
print("list: ", time.clock() - start_time, "seconds")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: DeprecationWarning: time.clock has been deprecated in Python 3.3 and will be removed from Python 3.8: use time.perf_counter or time.process_time instead

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: DeprecationWarning: time.clock has been deprecated in Python 3.3 and will be removed from Python 3.8: use time.perf_counter or time.process_time instead

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:16: DeprecationWarning: time.clock has been deprecated in Python 3.3 and will be removed from Python 3.8: use time.perf_counter or time.process_time instead
  app.launch_new_instance()

deque:  18.207341 seconds
list:  25.26825699999999 seconds

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:22: DeprecationWarning: time.clock has been deprecated in Python 3.3 and will be removed from Python 3.8: use time.perf_counter or time.process_time instead

#####OrderedDict

In [20]:
d = {}
d['x'] = 100
d['y'] = 200
d['z'] = 300
d['l'] = 500

for k, v in d.items():
    print(k, v)

x 100
y 200
z 300
l 500

In [21]:
from collections import OrderedDict

d = OrderedDict()
d['x'] = 100
d['y'] = 200
d['z'] = 300
d['l'] = 500

for k, v in d.items():
    print(k, v)

x 100
y 200
z 300
l 500

In [22]:
for k, v in OrderedDict(sorted(d.items(), key=lambda t: t[0])).items():
    print(k, v)

l 500
x 100
y 200
z 300

In [25]:
for k, v in OrderedDict(sorted(d.items(), key=lambda t: t[1])).items():
    print(k, v)

x 100
y 200
z 300
l 500

#####Defaultdict

In [27]:
# Dict type의 값에 기본 값을 지정, 신규값 생성시 사용하는 방법

from collections import defaultdict
d = defaultdict(object)     # Default dictionary를 생성
print(d)
d = defaultdict(lambda:0)    # Default 값을 0으로 설정함
print(d)
print(d["first"])

defaultdict(<class 'object'>, {})
defaultdict(<function <lambda> at 0x7fa9a0a9acb0>, {})
0

In [30]:
text ="""A press release is the quickest and easiest way to get free publicity. If well written, a press release can result in multiple published articles 
about your firm and its products. And that can mean new prospects contacting you asking you to sell to them. ….""".lower().split()

print(len(text))
print(text)

46
['a', 'press', 'release', 'is', 'the', 'quickest', 'and', 'easiest', 'way', 'to', 'get', 'free', 'publicity.', 'if', 'well', 'written,', 'a', 'press', 'release', 'can', 'result', 'in', 'multiple', 'published', 'articles', 'about', 'your', 'firm', 'and', 'its', 'products.', 'and', 'that', 'can', 'mean', 'new', 'prospects', 'contacting', 'you', 'asking', 'you', 'to', 'sell', 'to', 'them.', '….']

In [32]:
from collections import OrderedDict

word_count = defaultdict(lambda:0)  # Default 값을 0으로 설정함

for word in text:
    word_count[word] += 1

for i, v in OrderedDict(sorted(word_count.items(), key=lambda t: t[1], reverse=True)).items():
    print(i, v)

and 3
to 3
a 2
press 2
release 2
can 2
you 2
is 1
the 1
quickest 1
easiest 1
way 1
get 1
free 1
publicity. 1
if 1
well 1
written, 1
result 1
in 1
multiple 1
published 1
articles 1
about 1
your 1
firm 1
its 1
products. 1
that 1
mean 1
new 1
prospects 1
contacting 1
asking 1
sell 1
them. 1
…. 1

#####Counter

In [35]:
from collections import Counter

c = Counter()
c = Counter('gallahad')
print(c) 
# Counter({'a' : 3, 'l' :2, 'g' : 1, 'd' : 1, 'h' : 1})

Counter({'a': 3, 'l': 2, 'g': 1, 'h': 1, 'd': 1})

In [37]:
c = Counter({'red': 4, 'blue': 2})
print(c)
print(list(c.elements()))

Counter({'red': 4, 'blue': 2})
['red', 'red', 'red', 'red', 'blue', 'blue']

In [38]:
c = Counter(cats=4, dogs=8)
print(c)
print(list(c.elements()))

Counter({'dogs': 8, 'cats': 4})
['cats', 'cats', 'cats', 'cats', 'dogs', 'dogs', 'dogs', 'dogs', 'dogs', 'dogs', 'dogs', 'dogs']

In [39]:
c = Counter(a=4, b=2, c=0, d=-2)
d = Counter(a=1, b=2, c=3, d=4)
c.subtract(d)
print(c)

Counter({'a': 3, 'b': 0, 'c': -3, 'd': -6})

In [41]:
c = Counter(a=4, b=2, c=0, d=-2)
d = Counter(a=1, b=2, c=3, d=4)
print(c + d)
print(c & d)
print(c | d)

Counter({'a': 5, 'b': 4, 'c': 3, 'd': 2})
Counter({'b': 2, 'a': 1})
Counter({'a': 4, 'd': 4, 'c': 3, 'b': 2})

In [42]:
text ="""A press release is the quickest and easiest way to get free publicity. If well written, a press release can result in multiple published articles about your firm and its products. And that can mean new prospects contacting you asking you to sell to them. ….""".lower().split()

print(Counter(text))
print(Counter(text)["a"])

Counter({'and': 3, 'to': 3, 'a': 2, 'press': 2, 'release': 2, 'can': 2, 'you': 2, 'is': 1, 'the': 1, 'quickest': 1, 'easiest': 1, 'way': 1, 'get': 1, 'free': 1, 'publicity.': 1, 'if': 1, 'well': 1, 'written,': 1, 'result': 1, 'in': 1, 'multiple': 1, 'published': 1, 'articles': 1, 'about': 1, 'your': 1, 'firm': 1, 'its': 1, 'products.': 1, 'that': 1, 'mean': 1, 'new': 1, 'prospects': 1, 'contacting': 1, 'asking': 1, 'sell': 1, 'them.': 1, '….': 1})
2

#####Namedtuple

In [43]:
from collections import namedtuple

Point = namedtuple('Point', ['x','y'])
p = Point(11, y=22)
print(p[0], + p[1])

11 22

In [ ]:
from collections import namedtuple

import csv

f = open("users.csv", "r")
next(f)
reader = csv.reader(f)
student_list = []
for row in reader:
    student_list.append(row)
    print(row)

coloumns =["user_id", "integration_id", "login_id", "password", "first_name",
"last_name", "full_name", "sortable_name", "short_name",
"email", "status"]

Student = namedtuple('Student', " ".join(coloumns))
student_namedtuple_list = []

for row in student_list:
    student = Student(*row)
    student_namedtuple_list.append(student)

print(student_namedtuple_list)
print(student_namedtuple_list[0].full_name)