##**Pythonic Code**

In [2]:
colors = ['red', 'blue', 'green', 'yellow']
result = ''

for s in colors:
    result += s

print(result)

redbluegreenyellow

In [3]:
colors = ['red', 'blue', 'green', 'yellow']
result = ''.join(colors)

print(result)

redbluegreenyellow

##**Split & Join**

#####Split 함수

In [8]:
items = 'zero one two three'.split()        # 빈칸을 기준으로 문자열 나누기

print(items)

example = 'python, java, javascript'        # ','를 기준으로 문자열 나누기
example.split(",")

a, b, c = example.split(",")        # 리스에 있는 각 값을 a, b, c 변수로 unpacking

example = ' teamlab.technology.io'
subdomain, domain, tld = example.split('.')     # '.'을 기준으로 문자열 나누기

print(subdomain)
print(domain)
print(tld)

['zero', 'one', 'two', 'three']
 teamlab
technology
io

#####join 함수

In [10]:
colors = ['red', 'blue', 'green', 'yellow']
result = ''.join(colors)

print(result)

result = ' '.join(colors)       # 연결 시 빈칸 1칸으로 연결
print(result)

result = ', '.join(colors)      # 연결 시 ", "으로 연결
print(result)

result = '-'.join(colors)
print(result)

redbluegreenyellow
red blue green yellow
red, blue, green, yellow
red-blue-green-yellow

#####list comprehension

In [11]:
result = []

for i in range(10):
    result.append(i)

print(result)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
result = [i for i in range(10)]
print(result)

result = [i for i in range(10) if i % 2 == 0]
print(result)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8]

In [13]:
word_1 = "Hello"
word_2 = "World"
result = [i+j for i in word_1 for j in word_2]      # Nested For loop

print(result)

['HW', 'Ho', 'Hr', 'Hl', 'Hd', 'eW', 'eo', 'er', 'el', 'ed', 'lW', 'lo', 'lr', 'll', 'ld', 'lW', 'lo', 'lr', 'll', 'ld', 'oW', 'oo', 'or', 'ol', 'od']

In [15]:
case_1 = ["A", "B", "C"]
case_2 = ["D", "E", "A"]

result = [i+j for i in case_1 for j in case_2]
print(result)

result = [i+j for i in case_1 for j in case_2 if not (i==j)]
# Filter: i랑 j와 같다면 List에 추가하지 않음
print(result)

result.sort()
print(result)

['AD', 'AE', 'AA', 'BD', 'BE', 'BA', 'CD', 'CE', 'CA']
['AD', 'AE', 'BD', 'BE', 'BA', 'CD', 'CE', 'CA']
['AD', 'AE', 'BA', 'BD', 'BE', 'CA', 'CD', 'CE']

In [21]:
words = 'The quick brown fox jumps over the lazy dog'.split()

print(words)

stuff = [[w.upper(), w.lower(), len(w)] for w in words]       # list의 각 element들을 대문자, 소문자, 길이로 변환하여 two dimensional list로 변환
print(stuff)

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [22]:
case_1 = ["A", "B", "C"]
case_2 = ["D", "E", "A"]

result = [i+j for i in case_1 for j in case_2]
print(result)

result = [[i+j for i in case_1] for j in case_2]
print(result)

['AD', 'AE', 'AA', 'BD', 'BE', 'BA', 'CD', 'CE', 'CA']
[['AD', 'BD', 'CD'], ['AE', 'BE', 'CE'], ['AA', 'BA', 'CA']]

#####enumerate & zip

In [30]:
for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

mylist = ['a', 'b', 'c', 'd']
print(list(enumerate(mylist)))     # list에 있는 index와 값을 unpacking하여 list로 저장

{i:j for i,j in enumerate('Artificial intelligence (AI), is intelligence demonstrated by machines, unlike the natural intelligence displayed by humans and animals.'.split())}

0 tic
1 tac
2 toe
[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd')]

{0: 'Artificial',
 1: 'intelligence',
 2: '(AI),',
 3: 'is',
 4: 'intelligence',
 5: 'demonstrated',
 6: 'by',
 7: 'machines,',
 8: 'unlike',
 9: 'the',
 10: 'natural',
 11: 'intelligence',
 12: 'displayed',
 13: 'by',
 14: 'humans',
 15: 'and',
 16: 'animals.'}

In [34]:
alist = ['a1', 'a2', 'a3']
blist = ['b1', 'b2', 'b3']

for a, b in zip(alist, blist):      # 병렬적으로 값을 추출
    print(a, b)

a, b, c = zip((1,2,3),(10,20,30),(100,200,300)) #각tuple의같은index 끼리묶음

print(a)
print(b)
print(c)

[sum(x) for x in zip((1,2,3),(10,20,30),(100,200,300))]

a1 b1
a2 b2
a3 b3
(1, 10, 100)
(2, 20, 200)
(3, 30, 300)

[111, 222, 333]

#####enumerate & zip 동시 사용

In [35]:
alist = ['a1', 'a2', 'a3']
blist = ['b1', 'b2', 'b3']

for i, (a, b) in enumerate(zip(alist, blist)):
    print(i, a, b)      # index alist[index] blist[index] 표시

0 a1 b1
1 a2 b2
2 a3 b3

##**lambda & map & reduce**

In [37]:
# General function

def f(x, y):
    return x + y

print(f(1, 4))

5

In [38]:
f = lambda x, y: x + y

print(f(1, 4))

5

#####Overview

In [39]:
f = lambda x, y: x + y

print(f(1,4))

f = lambda x: x ** 2
print(f(3))

f = lambda x: x / 2
print(f(3))

print((lambda x: x + 1)(5))

5
9
1.5
6

#####map function overview

In [42]:
ex = [1, 2, 3, 4, 5]
f = lambda x, y: x + y

print(list(map(f, ex, ex)))

list(map(lambda x: x ** 2 if x % 2 == 0 else x, ex))

[2, 4, 6, 8, 10]

[1, 4, 3, 16, 5]

In [45]:
ex = [1, 2, 3, 4, 5]

print(list(map(lambda x: x+x, ex)))
print(map(lambda x: x+x, ex))

f = lambda x: x ** 2

print(map(f, ex))

for i in map(f, ex):
    print(i)

result = map(f, ex)

print(next(result))

[2, 4, 6, 8, 10]
<map object at 0x7fc4f3726210>
<map object at 0x7fc4f3726e50>
1
4
9
16
25
1

#####reduce function overview

In [46]:
from functools import reduce

print(reduce(lambda x, y: x+y, [1, 2, 3, 4, 5]))

15

##**iterable object**

In [48]:
for city in ["Seoul", "Busan", "Pohang"]:
    print(city, end="\t")
print()

for language in("Python", "C", "Java"):
    print(language, end="\t")
print()

for char in "Python is easy":
    print(char, end= " ")

Seoul	Busan	Pohang
Python	C	Java
P y t h o n   i s   e a s y

#####Characteristics

In [51]:
cities = ["Seoul", "Busan", "Jeju"]

iter_obj = iter(cities)

print(next(iter_obj))
print(next(iter_obj))
print(next(iter_obj))

Seoul
Busan
Jeju

##**generator**

In [52]:
def general_list(value):
    result = []

    for i in range(value):
        result.append(i)

    return result

def generator_list(value):
    result = []

    for i in range(value):
        yield i

print(general_list(10))
print(generator_list(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
<generator object generator_list at 0x7fc4f36fa250>

#####generator comprehension
- list comprehension과유사한형태로generator형태의list 생성
- generator expression 이라는이름으로도부름
- \[ \] 대신( ) 를사용하여표현

In [54]:
'''
- list comprehension과유사한형태로generator형태의list 생성
- generator expression 이라는이름으로도부름
- [ ] 대신( ) 를사용하여표현
'''

gen_ex = (n * n for n in range(500))

print(type(gen_ex))

<class 'generator'>

#####Why generator

In [55]:
from sys import getsizeof

# 일반적인 iterator는 generator에 비해 훨씬 큰 메모리 용량 사용

gen_ex = (n * n for n in range(500))
print(getsizeof(gen_ex))
print(getsizeof(list(gen_ex)))

list_ex = [n * n for n in range(500)]
print(getsizeof(list_ex))

128
4584
4280

#####When generator
- list 타입의데이터를반환해주는함수는generator로만들어라!  
: 읽기쉬운장점, 중간과정에서loop 이중단될수있을때!  
- 큰데이터를처리할때는generator expression을고려하라!:   데이터가커도처리의어려움이없음  
- 파일데이터를처리할때도generator를쓰자

##**function passing arguments**

#####Keyword arguments

In [56]:
def print_somthing(my_name, your_name):
    print("Hello {0}, My name is {1}".format(your_name, my_name))

print_somthing("Jeongwook", "TEAMLAB")
print_somthing(your_name="TEAMLAB", my_name="Jeongwook")

Hello TEAMLAB, My name is Jeongwook
Hello TEAMLAB, My name is Jeongwook

#####Default arguments
- parameter의 기본 값을 사용, 입력하지 않을 경우 기본값 출력

In [57]:
def print_somthing_2(my_name, your_name="TEAMLAB"):
    print("Hello {0}, My name is {1}".format(your_name, my_name))

print_somthing_2("Jeongwook","TEAMLAB")
print_somthing_2("Jeongwook")

Hello TEAMLAB, My name is Jeongwook
Hello TEAMLAB, My name is Jeongwook

#####variable-length asterisk
  
  가변인자(variable-length)  
- 개수가 정해지지않은 변수를 함수의parameter로 사용 하는법
- Keyword arguments와 함께, argument추가 가능
- Asterisk(*) 기호를 사용하여 함수의 parameter를 표시함
- 입력 된 값은 tuple type으로 사용할 수 있음
- 가변인자는 오직 한 개만 맨 마지막 parameter 위치에 사용가능

In [59]:
def asterisk_test(a, b, *args):
    return a+b+sum(args)

print(asterisk_test(1, 2, 3, 4, 5, 6))

21

In [60]:
def asterisk_test_2(*args):
    x, y, z = args
    return x, y, z

print(asterisk_test_2(3, 4, 5))

(3, 4, 5)

키워드 가변인자 (Keyword variable-length)
- Parameter 이름을따로지정하지않고입력하는방법
- asterisk(*) 두개를사용하여함수의parameter를표시함
- 입력된값은dicttype으로사용할수있음
- 가변인자는오직한개만기존가변인자다음에사용

In [65]:
def kwargs_test_1(**kwargs):
    print(kwargs)

def kwargs_test_2(**kwargs):
    print(kwargs)
    print("First value is {first}".format(**kwargs))
    print("Second value is {second}".format(**kwargs))
    print("Third value is {third}".format(**kwargs))

def kwargs_test_3(one,two,*args,**kwargs):
    print(one+two+sum(args))
    print(kwargs)

print(kwargs_test_1(first=3,second=4,third=5))
print(kwargs_test_2(first=3,second=4,third=5))
print(kwargs_test_3(3,4,5,6,7,8,9,first=3,second=4,third=5))

{'first': 3, 'second': 4, 'third': 5}
None
{'first': 3, 'second': 4, 'third': 5}
First value is 3
Second value is 4
Third value is 5
None
42
{'first': 3, 'second': 4, 'third': 5}
None

#####asterisk

In [71]:
# *args

def asterisk_test(a, *args):
    print(a, args)
    print(type(args))

print(asterisk_test(1,2,3,4,5,6))

print(asterisk_test(1, *(2,3,4,5,6)))
print(asterisk_test(1, (2,3,4,5,6)))

1 (2, 3, 4, 5, 6)
<class 'tuple'>
None
1 (2, 3, 4, 5, 6)
<class 'tuple'>
None
1 ((2, 3, 4, 5, 6),)
<class 'tuple'>
None

In [72]:
# **kargs

def asterisk_test(a, **kargs):
    print(a, kargs)
    print(type(kargs))

print(asterisk_test(1, b=2, c=3, d=4, e=5, f=6))

1 {'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}
<class 'dict'>
None

In [73]:
a, b, c=([1, 2], [3, 4], [5, 6])
print(a, b, c)

data=([1, 2], [3, 4], [5, 6])
print(*data)

[1, 2] [3, 4] [5, 6]
[1, 2] [3, 4] [5, 6]

In [76]:
def asterisk_test(a, b, c, d,):
    print(a, b, c, d)
    data={"b":1, "c":2, "d":3}

asterisk_test(10, *data)

10 [1, 2] [3, 4] [5, 6]

In [77]:
for data in zip(*([1, 2], [3, 4], [5, 6])):
    print(data)

(1, 3, 5)
(2, 4, 6)